/FioriSCP/mta_archives/
/FioriSCP/node_modules/
/FioriSCP/resources/
/z_sdconsultabet/mta_archives/
/z_sdconsultabet/node_modules/
/z_sdconsultabet/resources/
/portalFIORI/mta_archives/
/portalFIORI/node_modules/
/portalFIORI/resources/
/portalFIORI/portalfiori-approuter/node_modules/